* {
    margin: 0;
    padding: 0;
}

html{
  position:relative;
  min-height: 100%;
}

body {
    background-color: #06aed5;
    font-family: 'Josefin Sans', sans-serif;
}

.ni-logiran {
    margin-top: 5%;
    background-color: #086788;
    color: #fdfffc;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.logo-text-ni-logiran {
    font-family: 'Barrio', cursive;
    margin: 50 0 40 0;
}

.logo-ni-logiran {
    width: 30%;
}

.ni-logiran p {
    font-size: 20px;
    margin: 25 0;
}

.ni-logiran hr {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.prijava-box {
    margin: 30 0 30 0;
}

.prijava-box a {
   color:  #fdfffc;
   text-decoration: none;
   border: 1px solid #fdfffc;
   padding: 5 10;
   background-color: #247ba0;
   transition: background-color 0.5s;
}

.prijava-box a:hover {
    background-color: #c41515;
}

.pozdrav {
    text-align: center;
}

.main-page-nolist p {
    color: #fdfffc;
    font-size: 18;
}

.main-page-nolist img {
    border: 1px solid #fdfffc;
}


.navbar {
    background-color: #086788;
    color: #fdfffc;
    margin: 0;
    border-radius: 0px;
}

.logo-menu {
    background-color: #086788;
    width: 25px;
    padding: 0;
    margin-top: -5;
}

.navbar-brand {
    font-family: 'Barrio', cursive;
}

.active {
    background-color: #c41515;
}

#cookie-alert p {
    font-size:16px;
}

.avatar_select {
    max-height: 50px;
}

.date-width {
    width: 33%;
    float: left;
}

.date-width-2 {
    width: 30%;
    float: left;
}

.main-list {
    margin-top: 25px;
}

.add_bday {
    margin-top: 25px;
    background-color: #086788;
    color: #fdfffc;
}

.add_bday h1 {
    margin-top: 25px;
}

.bday_hr {
    border-color: #fdfffc;
    width: 160px;
    margin-top: -5px;
}

.anniversary_hr {
    border-color: #fdfffc;
    width: 195px;
    margin-top: -5px;
}

.event_hr {
    border-color: #fdfffc;
    width: 125px;
    margin-top: -5px;
}

.add_bday_btn {
   color: #fdfffc;
   text-decoration: none;
   border: 1px solid #fdfffc;
   padding: 5 10;
   background-color: #247ba0;
   transition: background-color 0.5s;
   border-radius: 0px;
   margin: 15px auto 25px auto;
}

.add_bday_btn:hover {
    background-color: #c41515;
    color: #fdfffc;
}

.bday_list {
    background-color: #086788;
    margin-top: 25px;
    color: #fdfffc;
    padding-bottom: 25px;
}

.bday_list_item {
    background-color: #0e7ca3;
    border: 1px solid #fdfffc;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.bday_list_item:hover {
    background-color: #fdfffc;
    color: #086788;
}

.bday_list p {
    float: left;
    font-size: 17px;
    padding: 10 5 5 5;
    margin-left: 15px;
}

.bday_list p:nth-child(2) {
    margin-left: 15px;
}

.bday_list_hr {
    border-color: #fdfffc;
    width: 190px;
    margin-top: -5px;
}

.blue-space {
    background-color: #0e7ca3;
    height: 15px;
}

.main-page {
    background-color: #086788;
    margin-top: 25px;
    margin-bottom: 100px;
    padding:25 25 40 25;
}

.info-bar {
    color: #fdfffc;
    font-size: 18;
}

.item-img {
    float: left;
    max-height: 40px;
    margin: 10 10 10 20;

}

.item-data {
    float: left;
    margin: 15px;
    color: white;
    font-size: 17px;
}

.item_date {
    float: right;
    margin: 15px;
    color: #fdfffc;
    font-size: 17px;
}

.main-page .col-sm-12 {
    padding:10px;

}

.margin-ten {
    margin-bottom:10px;
}

.bday-item {
    background-color: #c41515;
    border: 1px solid #fdfffc;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.bday-item:hover  {
    background-color: #a51010;
}

.anniversary-item {
    background-color: #e5c006;
    border: 1px solid #fdfffc;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.anniversary-item:hover {
    background-color: #c49d01;
}

.event-item {
    background-color: #30b208;
    border: 1px solid #fdfffc;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.event-item:hover {
    background-color: #289307;
}

.bday_details_heading {
    background-color: #086788;
    color: #fdfffc;
    margin-top: 25px;
    min-height: 40px;
}

.bday_details_body {
    background-color: #fdfffc;
}

.bday_details_data {
    font-size: 18;
    margin-top: 30px;
    padding: 15;
}

.bday_details img {
    max-height: 250px;
    margin: auto;
    padding: 15px;
}

.delete-img {
    height: 70px;
    float: right;
}

.modal-body-delete {
    background-color: #086788;
    color: #fdfffc;
}

.example-text {
    font-size: 125%;
}

.slideDiv {
    display: none;
}

.slideDiv2 {
    display: none;
}


.footer {
    position: absolute;
    bottom: 0;
    background-color: #086788;
    width: 100%;
    min-height: 45px;
    text-align: center;
    padding: 15px 0px 5px 0px;
    color: #fdfffc;
}
