* {
    margin: 0;
    padding: 0;
}

html{
  position:relative;
  min-height: 100%;
}

body {
    background-color: #76c1b5;
    font-family: 'Josefin Sans', sans-serif;
}

.ni-logiran {
    margin-top: 5%;
    background-color: #247ba0;
    color: #fdfffc;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.logo-text-ni-logiran {
    font-family: 'Barrio', cursive;
    margin: 50 0 40 0;
}

.logo-ni-logiran {
    width: 30%;
}

.ni-logiran p {
    font-size: 20px;
    margin: 25 0;
}

.ni-logiran hr {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.prijava-box {
    margin: 30 0 30 0;
}

.prijava-box a {
   color:  #fdfffc;
   text-decoration: none;
   border: 1px solid #fdfffc;
   padding: 5 10;
   background-color: #247ba0;
   transition: background-color 0.5s;
}

.prijava-box a:hover {
    background-color: #c41515;
}

.pozdrav {
    text-align: center;
}

.navbar {
    background-color: #247ba0;
    color: #fdfffc;
    margin: 0;
    border-radius: 0px;
}

.logo-menu {
    background-color: #247ba0;
    width: 25px;
    padding: 0;
    margin-top: -5;
}

.navbar-brand {
    font-family: 'Barrio', cursive;
}

.active {
    background-color: #c41515;
}

#cookie-alert p {
    font-size:16px;
}

.avatar_select {
    max-height: 50px;
}

.date-width {
    width: 33%;
    float: left;
}

.date-width-2 {
    width: 20%;
    float: left;
}

#footer {
    position: absolute;
    bottom: 0;
    left:25%;
}
