{% extends "base.html" %}

{% block active %}
    <li><a href="/">Home</a></li>
    <li><a href="/bday/add">Birthdays</a></li>
    <li class="active"><a href="/anniversary/add">Anniversaries</a></li>
    <li><a href="/event/add">Events</a></li>
{% endblock active %}


{% block specifika %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 add_bday">
                <h1>Add Anniversary:</h1>
                <hr class="anniversay">

                <form method="post">

                    <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                    <div class="form-group">
                        <label>Anniversary name:</label>
                        <input class="form-control" name="anniversary_name" required>
                    </div>

                    <div class="date-width">
                        <div class="form-group select_day">
                            <label for="sel1">Day:</label>
                            <select class="form-control" name="anniversary_day" id="sel1">
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                          </select>
                        </div>
                    </div>

                    <div class="date-width">
                        <div class="form-group select_month">
                            <label for="sel2">Month:</label>
                            <select class="form-control" name="anniversary_month" id="sel2">
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                          </select>
                        </div>
                    </div>

                    <div class="date-width">
                        <div class="form-group">
                            <label>Year:</label>
                            <input class="form-control" name="anniversary_year" type="number" min="1850" max="2050" required>
                        </div>
                    </div>

                    <p><strong>Select image:</strong></p>
                    <div class="avatar_radio">
                            <label class="radio-inline"><input type="radio" name="avatar" value="https://s16.postimg.org/6tyqb85vp/004_wedding_rings.png" checked>
                                <img class="avatar_select" src="https://s16.postimg.org/6tyqb85vp/004_wedding_rings.png">
                            </label>

                            <label class="radio-inline"><input type="radio" name="avatar" value="https://s8.postimg.org/cm4cacnxh/003_diploma.png">
                                <img class="avatar_select" src="https://s8.postimg.org/cm4cacnxh/003_diploma.png">
                            </label>

                            <label class="radio-inline"><input type="radio" name="avatar" value="https://s17.postimg.org/unqdre6in/001_wedding_day.png">
                                <img class="avatar_select" src="https://s17.postimg.org/unqdre6in/001_wedding_day.png">
                            </label>

                            <label class="radio-inline"><input type="radio" name="avatar" value="https://s10.postimg.org/ehni474qh/cocktail.png">
                                <img class="avatar_select" src="https://s10.postimg.org/ehni474qh/cocktail.png">
                            </label><br><br>
                        </div>

                    <button class="add_bday_btn">Add Anniversary</button>
                </form>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 bday_list">
                {% if anniversary_list %}
                <h2>List of anniversaries:</h2>
                <hr class="anniversary_list_hr">
                {% for anniversary in anniversary_list %}
                <div class="col-sm-10 col-sm-offset-1 margin-ten">
                    <div class="row bday_list_item">
                        <p>{{ anniversary.date.strftime('%d.%B %Y') }}</p>
                        <p>{{ anniversary.anniversary_name }}</p>
                        <a style="position:absolute;top:0px;left:0px;width:100%;height:100%;display:inline;" href ="/anniversary/details/{{ anniversary.key.id() }}"></a>
                    </div>
                </div>
                {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock specifika %}