{% extends "base.html" %}

{% block active %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/bday/add">Birthdays</a></li>
    <li><a href="/anniversary/add">Anniversaries</a></li>
    <li><a href="/event/add">Events</a></li>
{% endblock active %}


{% block specifika %}
<div class="container slideDiv">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 bday_details_heading">
            <h2>Birthday details:</h2>
        </div>

    </div>
    <div class="row bday_details">
        <div class="col-sm-offset-2 col-sm-8 bday_details_body">
            <div class="col-sm-4">
                <img class="img-responsive" src="{{ bday.avatar }}">
            </div>
            <div class="col-sm-8 bday_details_data">
                <p>First name: {{ bday.first_name }}</p>
                <p>Last name: {{ bday.last_name }}</p>
                <p>Date of birth: {{ bday.date.strftime('%d.%B') }} {{ bday.bday_year }}</p>
                <p>Age: {{ bday.bday_age }}</p>


                <a href="#" data-toggle="modal" data-target="#deleteBday">
                    <img class="delete-img" src="https://s23.postimg.org/bynkefl0r/close.png">
                </a>

                <!-- Modal - delete -->
                <div class="modal fade" id="deleteBday" tabindex="-1" role="dialog" aria-labelledby="deleteBdayLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="post" action="/bday/delete/{{ bday.key.id() }}">
                            <div class="modal-content">

                                <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                                <div class="modal-body modal-body-delete">
                                    <p>
                                        Do you really want to delete this birthday?
                                    </p>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Delete birthday</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End modal - delete -->

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".slideDiv").show("drop", {direction: "up"}, 500);
    });
</script>
{% endblock specifika %}