{% extends "base.html" %}


{% block active %}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/bday/add">Birthdays</a></li>
    <li><a href="/anniversary/add">Anniversaries</a></li>
    <li><a href="/event/add">Events</a></li>
{% endblock active %}


{% block specifika %}
    <div class="container main-page">
        {% if new_sorted_list %}
        <div class="col-sm-10 col-sm-offset-1">
                    <div class="row info-bar">
                        <p>You have {{ list_len }} event/s planned in the next 30 days:</p>
                    </div>
                </div>
            {% for item in new_sorted_list %}
                {% if item.title == "bday" %}
                <div class="col-sm-10 col-sm-offset-1 margin-ten">
                    <div class="row bday-item">
                        <img class="item-img" src="https://s18.postimg.org/jodctqidl/supermarket_gift.png">
                        <p class="item-data">{{ item.first_name }} {{ item.last_name }}</p>
                        <p class="item_date">{{ item.date.strftime('%d.%B') }}</p>
                        <a style="position:absolute;top:0px;left:0px;width:100%;height:100%;display:inline;" href ="/bday/details/{{ item.key.id() }}"></a>
                    </div>
                </div>

                {% endif %}

                {% if item.title == "anniversary" %}
                <div class="col-sm-10 col-sm-offset-1 margin-ten">
                    <div class="row anniversary-item">
                        <img class="item-img" src="https://s14.postimg.org/68614gl7l/wedding_rings_2.png">
                        <p class="item-data">{{ item.anniversary_name }}</p>
                        <p class="item_date">{{ item.date.strftime('%d.%B') }}</p>
                        <a style='position:absolute;top:0px;left:0px;width:100%;height:100%;display:inline;' href ="/anniversary/details/{{ item.key.id() }}"></a>
                </div>
                </div>
                {% endif %}

                {% if item.title == "event" %}
                <div class="col-sm-10 col-sm-offset-1 margin-ten">
                    <div class="row event-item">
                        <img class="item-img" src="https://s13.postimg.org/5mrsec9g7/favorites.png">
                        <p class="item-data">{{ item.event_name }}</p>
                        <p class="item_date">{{ item.date.strftime('%d.%B at %H:%M') }}</p>
                        <a style='position:absolute;top:0px;left:0px;width:100%;height:100%;display:inline;' href ="/event/details/{{ item.key.id() }}"></a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <div class="col-sm-10 col-sm-offset-1 main-page-nolist">
            <p>Once you add your birthdays, anniversaries and events - it will look something like this:</p>
            <img class="img-responsive" src="https://s28.postimg.org/bbyg5eial/main-page-example.png">
        </div>
        {% endif %}


    </div>
{% endblock specifika %}