{% extends "base.html" %}


{% block active %}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/bday/add">Birthdays</a></li>
    <li><a href="/anniversary/add">Anniversaries</a></li>
    <li><a href="/event/add">Events</a></li>
{% endblock active %}


{% block specifika %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="/bday/add" class="btn btn-default">Birthday</a>
            </div>
            <div class="col-sm-4">
                <a href="/anniversary/add" class="btn btn-default">Anniversary</a>
            </div>
            <div class="col-sm-4">
                <a href="/event/add" class="btn btn-default">Event</a>
            </div>
        </div>
    </div>
{% endblock specifika %}