{% extends "base.html" %}

{% block active %}
    <li><a href="/">Home</a></li>
    <li><a href="/bday/add">Birthdays</a></li>
    <li><a href="/anniversary/add">Anniversaries</a></li>
    <li><a href="/event/add">Events</a></li>
{% endblock active %}

{% block active2 %}
<li class="active"><a href="/user/details">{{ user.email }}</a></li>
{% endblock active2 %}

{% block specifika %}
<div class="container slideDiv">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 bday_details_heading">
            <h2>User details edit:</h2>
        </div>
    </div>
    <div class="row bday_details">
        <div class="col-sm-offset-2 col-sm-8 bday_details_body">
            <form method="post">

                <input type="hidden" name="csrf_token" value="{{csrf_token}}">

                <div class="form-group">
                    <label>First name:</label>
                    <input class="form-control" name="first_name" value="{{ user_profile.first_name }}" required>
                </div>

                <div class="form-group">
                    <label>Last name:</label>
                    <input class="form-control" name="last_name" value="{{ user_profile.last_name }}" required>
                </div>

                <div class="date-width">
                    <div class="form-group select_day">
                        <label for="sel1">Day:</label>
                        <select class="form-control" name="bday_day" id="sel1">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                      </select>
                    </div>
                </div>

                <div class="date-width">
                    <div class="form-group select_month">
                        <label for="sel2">Month:</label>
                        <select class="form-control" name="bday_month" id="sel2">
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                      </select>
                    </div>
                </div>

                <div class="date-width">
                    <div class="form-group">
                        <label>Year:</label>
                        <input class="form-control" name="bday_year" type="number" min="1850" max="2050" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>Image url:</label>
                    <input class="form-control" name="avatar" type="url" pattern="https?://.+" placeholder="Optional..">
                </div>

                <button class="add_bday_btn check-date">Edit Profile</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function checkDate(day, month) {

        var isValid = "";

       if ((month == 4 || month == 6 || month == 9 || month == 11) && day < 30) {
           return true;
       }
       else if (month == 2 && day <= 28) {
           return true;
       }
       else if ((month == 1 || month == 3 || month == 5 || month == 7 || month == 8 || month == 10 || month == 12) && day <= 31) {
           return true;
       }
       else {
           return false;
       }
    };

    $(document).ready(function() {
        $(".slideDiv").show("drop", {direction: "up"}, 500);
    });

    $(".check-date").click(function(e) {

        var day = parseInt($("#sel1").val());
        var month = parseInt($("#sel2").val());

        if (checkDate(day,month) == true) {
            console.log("Date is valid!");
        } else {
            alert("Date is in-valid!");
            e.preventDefault();
        }
    });
</script>
{% endblock specifika %}